In [23]:
from pathlib import Path
import pandas as pd
import geopandas as gpd
from mtcpy.aws import pull_df_from_redshift_sql, pull_geotable_redshift

In [24]:
# set workign directory 
work_dir = Path("/Users/jcroff/Library/CloudStorage/Box-Box/DSA Projects/Spatial Analysis and Mapping/Wildfire Risk Analysis/Data Outputs")

# pull data from redshift

In [ ]:
req_cols = [
    "geoid",
    # "zoning_type", - out of scope
    # "zoning_subtype", - out of scope
    "structno",
    "yearbuilt",
    "numstories",
    "numunits",
    # "numrooms", - out of scope
    # "structstyle", - available in premium but not ingested into redshift
    # "improvval", - out of scope
    # "landval", - out of scope
    # "parval", - out of scope
    "saleprice",
    "scity",
    "county",
    "szip",
    "lat",
    "lon",
    "fema_flood_zone",
    # "fema_nri_risk_rating", - available in premium but not ingested into redshift
    # "qoz", - avialable in premium but not ingested into redshift
    # "census_tract", - out of scope
    # "census_block", - out of scope
    # "sourceurl", - available in premium but not ingested into redshift
    # "recrdareano", - available in premium but not ingested into redshift
    "ll_gisacre",
    "ll_gissqft",
    "ll_bldg_footprint_sqft",
    "ll_uuid",
    "ll_stack_uuid",
    "ll_bldg_count",
    "lbcs_structure_desc",
    # "housing_affordability_index", - available in premium but not ingested into redshift
    # "population_density", - available in premium but not ingested into redshift
    # "population_growth_past_5_years", - available in premium but not ingested into redshift
    # "population_growth_next_5_years", - available in premium but not ingested into redshift
    # "housing_growth_past_5_years", - available in premium but not ingested into redshift
    # "housing_growth_next_5_years", - available in premium but not ingested into redshift
    # "median_household_income", - available in premium but not ingested into redshift
    # "transmission_line_distance", - available in premium but not ingested into redshift
]
sql_cols = ", ".join(req_cols)
sql = f"SELECT {sql_cols} FROM regrid_v25.parcel_source_tbl_v25" 
df = pull_df_from_redshift_sql(sql_statement=sql)

took 1.4165 minutes

In [42]:
# convert numeric columns to numeric
numeric_cols = [
    "structno",
    "yearbuilt",
    "numstories",
    "numunits",
]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col])

In [43]:
df["numunits"].isna().mean()

# overall, .80 of the parcels is missing numunits

0.8002539159719686

In [37]:
# get a count of records where structno is equal to or greater than 1
df[df["structno"] > 0].shape[0]

159013

In [44]:
# get a count of records where ll_bldg_count is equal to or greater than 1
df[df["ll_bldg_count"] > 0].shape[0]

2168498

In [38]:
# get a count of records where numunits is not null but structno is null
df[(df["numunits"].notnull()) & (df["structno"].isnull())].shape[0]

311022

In [45]:
# get a count of records where numunits is not null but ll_bldg_count is null
df[(df["numunits"].notnull()) & (df["ll_bldg_count"].isnull())].shape[0]

0

In [ ]:
# get a summary of non-null numunits by lbcs_structure_desc
grouped = df.groupby("lbcs_structure_desc")["numunits"].agg(
    count_non_null_units="count",  # non-null values
    total_number_structures="size",  # total number of rows in group
    missing_units=lambda x: x.isna().sum(),  # number of missing
    missing_pct_units=lambda x: x.isna().mean() * 100,  # percent missing
)
grouped

                                          count_non_null_units  ...  missing_pct_units
lbcs_structure_desc                                             ...
Air and space transportation facility                        0  ...         100.000000
Airport terminal                                             0  ...         100.000000
Assembly and construction-type plants                        0  ...         100.000000
Attached units                                           10858  ...           0.165502
Automobile parking facilities                                4  ...          99.738903
...                                                        ...  ...                ...
Utility and other nonbuilding structures                     0  ...         100.000000
Warehouse discount store building                            1  ...          90.000000
Warehouse or storage facility                              106  ...          98.416492
Water transportation or marine related                       0  ...         100.000000
Water-supply-related facility                                0  ...         100.000000

[74 rows x 4 columns]

In [27]:
grouped.sort_values(by='missing_pct_units', ascending=True).reset_index().to_csv(
    work_dir / "missing_numunits_by_structure_type.csv",
    index=False
)

In [17]:
df.lbcs_structure_desc.unique()

array(['Residential buildings', 'Unclassified', 'Single-family buildings',
       'Industrial buildings and structures',
       'Public assembly structures', 'Multifamily structures: Four Units',
       'Water-supply-related facility', 'Townhouses',
       'Multifamily structures', 'Duplex structures',
       'Store or shop building', 'Restaurant building',
       'Hotels, motels, and tourist courts', 'Department store building',
       'Warehouse or storage facility',
       'Light industrial structures and facilities', 'Highways and roads',
       'Office or store building with residence on top',
       'Commercial buildings and other specialized structures',
       'Office or bank building', 'School or university buildings',
       'Automobile repair and service structures', 'Manufactured housing',
       'Churches, synagogues, temples, mosques, etc.', 'Greenhouses',
       'Multifamily structures: Three Units',
       'Multifamily structures: Two Units', 'Medical facility',
       'Automobile parking facilities',
       'Utility and other nonbuilding structures',
       'Neighborhood center (convenience with one or more anchors)',
       'Mill-type factory structures', 'Attached units',
       'Railroads, including monorails, etc.',
       'Cemetery, monument, tombstone, or mausoleum',
       'Institutional or community facilities',
       'Laboratory or specialized industrial facility',
       'Sheds, farm buildings, or agricultural facilities',
       'Linear or network feature', 'Gasoline station',
       'Multifamily structures: Other specialized residential structures',
       'College or university facility',
       'Process plants (metals, chemicals, etc.)',
       'Power generation plants', 'Fire and rescue station',
       'Assembly and construction-type plants', 'Livestock facility',
       'Transportation-related facilities',
       'Malls, shopping centers, or collection of shops',
       'Airport terminal', 'Indoor games facility', 'Mini-warehouse',
       'Medical clinic building', 'Other community structures',
       'Landfill facility', 'Hospital building', 'Detached units',
       'Air and space transportation facility',
       'Funeral homes and cremation facilities',
       'Water transportation or marine related',
       'Grain silos and other storage structure for grains and agricultural products',
       'Community center (general merchandise with two or more anchors)',
       'Heavy industrial structures and facilities',
       'Communication towers',
       'Temporary structures, tents, etc. for shelter', 'Theater',
       'Warehouse discount store building', 'Gas and fuel lines',
       'Regional center (enclosed mall with two or more anchors)',
       'Cattle facility', 'Sports stadium or arena',
       'Refrigerated warehouse or cold storage',
       'Specialized military structures', 'Convenience stores or centers'],
      dtype=object)

In [48]:
# look at single-family building missing numunits
df.query("lbcs_structure_desc == 'Single-family buildings'")

         geoid  structno  ...  ll_bldg_count      lbcs_structure_desc
1        06001       NaN  ...              1  Single-family buildings
2        06001       NaN  ...              1  Single-family buildings
3        06001       NaN  ...              2  Single-family buildings
4        06001       NaN  ...              0  Single-family buildings
7        06001       NaN  ...              1  Single-family buildings
...        ...       ...  ...            ...                      ...
2324330  06097       1.0  ...              5  Single-family buildings
2324382  06097       1.0  ...              1  Single-family buildings
2324383  06097       1.0  ...              1  Single-family buildings
2324384  06097       1.0  ...              1  Single-family buildings
2324385  06097       1.0  ...              1  Single-family buildings

[1129744 rows x 19 columns]