In [1]:
import arcpy
import pandas as pd
import numpy as np
from arcgis.features import GeoAccessor, GeoSeriesAccessor

#Define the workspace
arcpy.env.workspace = r'Transit_Data_Analysis.gdb'

#Allow features and files to be overwritten 
arcpy.env.overwriteOutput = True

### Import custom toolboxes

In [2]:
#Better Bus Buffers
bbb = r'BetterBusBuffers_0.13.0.4\BetterBusBuffers.pyt'
arcpy.ImportToolbox(bbb)

#Interpolate Blank Stops
ibs = r'InterpolateBlankStopTimes_0.1.2.1\InterpolateBlankStopTimes.tbx'
arcpy.ImportToolbox(ibs)

### Pre-processing step for interpolating blank stop times in the stop_times.txt file

In [24]:
stop_times = r'Data\Historic GTFS\2020-01\stop_times.txt'
stop_sql = r'bayarea_stops_sql.sql'

arcpy.transit.PreprocessStopTimes(stop_times,stop_sql)

### Create update stop_times.txt file

In [25]:
arcpy.transit.SimpleInterpolation(stop_sql,stop_times)

### Pre-processing step for Better Bus Buffers Tools

In [26]:
regional_gtfs = r'Data\Historic GTFS\2020-01'
gtfs_sql = r'bay_area_gtfs.sql'
arcpy.BetterBusBuffers.PreprocessGTFS(regional_gtfs,gtfs_sql)

### Generate stops meeting am peak 30 min headways

In [33]:
stops_am_peak = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_am_peak_30_fc'
am_peak_ags = {'output_feature_class': stops_am_peak,
               'sql_database': gtfs_sql,
               'day': '20200106',
               'time_window_start':'06:00',
               'time_window_end':'10:00',
               'count_arrivals_or_departures': 'Departures',
               'headway_threshold': 30,
               'snap_to_nearest_5_minutes': True  
}

arcpy.BetterBusBuffers.CountHighFrequencyRoutesAtStops(**am_peak_ags)

### Generate stops meeting pm peak 30 min headways

In [34]:
stops_pm_peak = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_pm_peak_30_fc'
pm_peak_ags = {'output_feature_class': stops_pm_peak,
               'sql_database': gtfs_sql,
               'day': '20200106',
               'time_window_start':'15:00',
               'time_window_end':'19:00',
               'count_arrivals_or_departures': 'Departures',
               'headway_threshold': 30,
               'snap_to_nearest_5_minutes': True  
}

arcpy.BetterBusBuffers.CountHighFrequencyRoutesAtStops(**pm_peak_ags)

### Generate stops meeting am peak 15 min headways

In [74]:
stops_am_peak_15 = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_am_peak_15_fc'
am_peak_ags = {'output_feature_class': stops_am_peak_15,
               'sql_database': gtfs_sql,
               'day': '20200106',
               'time_window_start':'06:00',
               'time_window_end':'10:00',
               'count_arrivals_or_departures': 'Departures',
               'headway_threshold': 15,
               'snap_to_nearest_5_minutes': True  
}

arcpy.BetterBusBuffers.CountHighFrequencyRoutesAtStops(**am_peak_ags)

### Generate stops meeting pm peak 15 min headways

In [75]:
stops_pm_peak_15 = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_pm_peak_15_fc'
pm_peak_ags = {'output_feature_class': stops_pm_peak_15,
               'sql_database': gtfs_sql,
               'day': '20200106',
               'time_window_start':'15:00',
               'time_window_end':'19:00',
               'count_arrivals_or_departures': 'Departures',
               'headway_threshold': 15,
               'snap_to_nearest_5_minutes': True  
}

arcpy.BetterBusBuffers.CountHighFrequencyRoutesAtStops(**pm_peak_ags)

### Convert 30 min headway stops fc to spatial dataframe

In [3]:
stops_am_peak = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_am_peak_30_fc'
stops_pm_peak = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_pm_peak_30_fc'
stops_am_peak_sdf = pd.DataFrame.spatial.from_featureclass(stops_am_peak)
stops_pm_peak_sdf = pd.DataFrame.spatial.from_featureclass(stops_pm_peak)

### Convert 15 min headway stops fc to spatial dataframe

In [4]:
stops_am_peak_15 = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_am_peak_15_fc'
stops_pm_peak_15 = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\stops_pm_peak_15_fc'
stops_am_peak_15_sdf = pd.DataFrame.spatial.from_featureclass(stops_am_peak_15)
stops_pm_peak_15_sdf = pd.DataFrame.spatial.from_featureclass(stops_pm_peak_15)

### Merge am and pm 30 min headway sdf

In [5]:
stops_30_min_peak_sdf = pd.merge(stops_am_peak_sdf, stops_pm_peak_sdf,how='inner',on='stop_id',suffixes=('_am','_pm'))

In [6]:
stops_30_min_peak_sdf.head(5)

   OBJECTID_am  ...                                           SHAPE_pm
0            1  ...  {'x': -122.39682999999997, 'y': 37.78913000000...
1            2  ...  {'x': -122.41599999999994, 'y': 37.63754000000...
2            3  ...  {'x': -122.25915999999995, 'y': 38.09993000000...
3            4  ...  {'x': -122.26876999999996, 'y': 37.80808000000...
4            5  ...  {'x': -122.27024999999998, 'y': 37.85330000000...

[5 rows x 35 columns]

### Create 30 min and 15 min headway flag columns and flag where 1 or more routes met headway limits for am and pm

In [7]:
stops_30_min_peak_sdf['hdwy_30_min'] = np.where(((stops_30_min_peak_sdf['MetHdWyLim_am'] > 0) 
                                                 & (stops_30_min_peak_sdf['MetHdWyLim_pm'] > 0)), 1,0)

In [8]:
stops_30_min_peak_sdf[stops_30_min_peak_sdf['hdwy_30_min'] == 1].head(5)

     OBJECTID_am  ... hdwy_30_min
114          115  ...           1
115          116  ...           1
116          117  ...           1
117          118  ...           1
118          119  ...           1

[5 rows x 36 columns]

### Merge am and pm 15 min headway sdf

In [9]:
stops_15_min_peak_sdf = pd.merge(stops_am_peak_15_sdf, stops_pm_peak_15_sdf,how='inner',on='stop_id',suffixes=('_am','_pm'))

In [10]:
stops_15_min_peak_sdf.head(5)

   OBJECTID_am  ...                                           SHAPE_pm
0            1  ...  {'x': -122.39682999999997, 'y': 37.78913000000...
1            2  ...  {'x': -122.41599999999994, 'y': 37.63754000000...
2            3  ...  {'x': -122.25915999999995, 'y': 38.09993000000...
3            4  ...  {'x': -122.26876999999996, 'y': 37.80808000000...
4            5  ...  {'x': -122.27024999999998, 'y': 37.85330000000...

[5 rows x 35 columns]

In [11]:
stops_15_min_peak_sdf['hdwy_15_min'] = np.where(((stops_15_min_peak_sdf['MetHdWyLim_am'] > 0) 
                                                 & (stops_15_min_peak_sdf['MetHdWyLim_pm'] > 0)), 1,0)

In [12]:
stops_15_min_peak_sdf[stops_15_min_peak_sdf['hdwy_15_min'] == 1].head(5)

     OBJECTID_am  ... hdwy_15_min
114          115  ...           1
115          116  ...           1
116          117  ...           1
117          118  ...           1
118          119  ...           1

[5 rows x 36 columns]

### Flag Major Transit Stops
As defined by California Public Resource Code [Section 21064.3](https://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?sectionNum=21064.3.&lawCode=PRC)

In [13]:
stops_15_min_peak_sdf.columns

Index(['OBJECTID_am', 'stop_id', 'stop_code_am', 'stop_name_am',
       'stop_desc_am', 'zone_id_am', 'stop_url_am', 'location_type_am',
       'parent_station_am', 'NumTrips_am', 'NumTripsPerHr_am',
       'MaxWaitTime_am', 'rte_count_am', 'AvgHeadway_am', 'MinHeadway_am',
       'MaxHeadway_am', 'MetHdWyLim_am', 'SHAPE_am', 'OBJECTID_pm',
       'stop_code_pm', 'stop_name_pm', 'stop_desc_pm', 'zone_id_pm',
       'stop_url_pm', 'location_type_pm', 'parent_station_pm', 'NumTrips_pm',
       'NumTripsPerHr_pm', 'MaxWaitTime_pm', 'rte_count_pm', 'AvgHeadway_pm',
       'MinHeadway_pm', 'MaxHeadway_pm', 'MetHdWyLim_pm', 'SHAPE_pm',
       'hdwy_15_min'],
      dtype='object')

In [14]:
stops_15_min_peak_sdf['major_stop'] = np.where((stops_15_min_peak_sdf['MetHdWyLim_am'] >= 2) & 
                                               (stops_15_min_peak_sdf['MetHdWyLim_pm'] >= 2),1,0)

### Merge 15 min and 30 min headway sdf

In [15]:
stops_15_30_min_peak_sdf = pd.merge(stops_30_min_peak_sdf,
                                    stops_15_min_peak_sdf[['stop_id','hdwy_15_min','major_stop']],
                                   on = 'stop_id',how = 'inner')

In [16]:
stops_15_30_min_peak_sdf.columns

Index(['OBJECTID_am', 'stop_id', 'stop_code_am', 'stop_name_am',
       'stop_desc_am', 'zone_id_am', 'stop_url_am', 'location_type_am',
       'parent_station_am', 'NumTrips_am', 'NumTripsPerHr_am',
       'MaxWaitTime_am', 'rte_count_am', 'AvgHeadway_am', 'MinHeadway_am',
       'MaxHeadway_am', 'MetHdWyLim_am', 'SHAPE_am', 'OBJECTID_pm',
       'stop_code_pm', 'stop_name_pm', 'stop_desc_pm', 'zone_id_pm',
       'stop_url_pm', 'location_type_pm', 'parent_station_pm', 'NumTrips_pm',
       'NumTripsPerHr_pm', 'MaxWaitTime_pm', 'rte_count_pm', 'AvgHeadway_pm',
       'MinHeadway_pm', 'MaxHeadway_pm', 'MetHdWyLim_pm', 'SHAPE_pm',
       'hdwy_30_min', 'hdwy_15_min', 'major_stop'],
      dtype='object')

In [17]:
stops_15_30_min_peak_sdf.tail(5)

       OBJECTID_am          stop_id  ... hdwy_15_min major_stop
22120        22121  202001:FS:75319  ...           0          0
22121        22122  202001:FS:75083  ...           0          0
22122        22123  202001:FS:75266  ...           0          0
22123        22124  202001:FS:75502  ...           0          0
22124        22125  202001:FS:75076  ...           0          0

[5 rows x 38 columns]

### Create headway class column and update

In [23]:
stops_15_30_min_peak_sdf.shape

(22125, 38)

In [26]:
stops_15_30_min_peak_sdf[(stops_15_30_min_peak_sdf['rte_count_am'].isnull()) | (stops_15_30_min_peak_sdf['rte_count_pm'].isnull())]

       OBJECTID_am                 stop_id  ... hdwy_15_min major_stop
0                1   202001:_salesforce_tc  ...           0          0
1                2  202001:_san_bruno_bart  ...           0          0
2                3      202001:_vallejo_tc  ...           0          0
3                4       202001:_19th_bart  ...           0          0
4                5      202001:_ashby_bart  ...           0          0
...            ...                     ...  ...         ...        ...
21837        21838            202001:60282  ...           0          0
21838        21839            202001:60284  ...           0          0
21839        21840            202001:65176  ...           0          0
21840        21841            202001:65229  ...           0          0
21967        21968         202001:FS:75551  ...           0          0

[3497 rows x 38 columns]

In [31]:
def headway_class(df):
    if df['hdwy_15_min'] == 1:
        return '15 mins or less'
    elif df['hdwy_30_min'] == 1:
        return '16 to 30 min'
    elif (df['rte_count_am'] >= 1) | (df['rte_count_pm'] >= 1):
        return '31 mins or more'
    else:
        return 'Not Available'

In [32]:
stops_15_30_min_peak_sdf['hdwy_class'] = stops_15_30_min_peak_sdf.apply(headway_class,axis=1)

### Inspect headway class column

In [34]:
stops_15_30_min_peak_sdf[['stop_id',
                          'hdwy_30_min',
                          'hdwy_15_min',
                          'AvgHeadway_am',
                          'AvgHeadway_pm',
                          'hdwy_class']][stops_15_30_min_peak_sdf['hdwy_class'] == '15 mins or less'].head(10)

         stop_id  hdwy_30_min  ...  AvgHeadway_pm       hdwy_class
114  202001:12TH            1  ...      13.333333  15 mins or less
115  202001:16TH            1  ...      13.750000  15 mins or less
116  202001:19TH            1  ...      13.333333  15 mins or less
117  202001:24TH            1  ...      13.750000  15 mins or less
118  202001:ANTC            1  ...      15.000000  15 mins or less
119  202001:ASHB            1  ...      15.000000  15 mins or less
120  202001:BALB            1  ...      14.375000  15 mins or less
121  202001:BAYF            1  ...      15.000000  15 mins or less
122  202001:CAST            1  ...      15.000000  15 mins or less
123  202001:CIVC            1  ...      13.750000  15 mins or less

[10 rows x 6 columns]

In [35]:
stops_15_30_min_peak_sdf[['stop_id',
                          'hdwy_30_min',
                          'hdwy_15_min',
                          'AvgHeadway_am',
                          'AvgHeadway_pm',
                          'hdwy_class']][stops_15_30_min_peak_sdf['hdwy_class'] == '16 to 30 min'].tail(10)

               stop_id  hdwy_30_min  ...  AvgHeadway_pm    hdwy_class
22107  202001:FS:75505            1  ...           30.0  16 to 30 min
22108  202001:FS:75511            1  ...           30.0  16 to 30 min
22112  202001:FS:75074            1  ...           30.0  16 to 30 min
22118  202001:FS:75503            1  ...           30.0  16 to 30 min
22119  202001:FS:75267            1  ...           30.0  16 to 30 min
22120  202001:FS:75319            1  ...           30.0  16 to 30 min
22121  202001:FS:75083            1  ...           30.0  16 to 30 min
22122  202001:FS:75266            1  ...           30.0  16 to 30 min
22123  202001:FS:75502            1  ...           30.0  16 to 30 min
22124  202001:FS:75076            1  ...           30.0  16 to 30 min

[10 rows x 6 columns]

In [36]:
stops_15_30_min_peak_sdf[['stop_id',
                          'hdwy_30_min',
                          'hdwy_15_min',
                          'AvgHeadway_am',
                          'AvgHeadway_pm',
                          'hdwy_class']][stops_15_30_min_peak_sdf['hdwy_class'] == '31 mins or more'].head(10)

          stop_id  hdwy_30_min  ...  AvgHeadway_pm       hdwy_class
270  202001:13318            0  ...          180.0  31 mins or more
304  202001:17629            0  ...           10.0  31 mins or more
374  202001:16653            0  ...           20.0  31 mins or more
514  202001:13557            0  ...            NaN  31 mins or more
531  202001:13113            0  ...            NaN  31 mins or more
536  202001:13115            0  ...            NaN  31 mins or more
537  202001:13123            0  ...            NaN  31 mins or more
549  202001:17171            0  ...            NaN  31 mins or more
551  202001:13146            0  ...            NaN  31 mins or more
555  202001:13150            0  ...            NaN  31 mins or more

[10 rows x 6 columns]

In [37]:
stops_15_30_min_peak_sdf[['stop_id','hdwy_class']].groupby('hdwy_class').agg('count')

                 stop_id
hdwy_class
15 mins or less     6176
16 to 30 min        6822
31 mins or more     7571
Not Available       1556

### Rename some columns for use later

In [38]:
print({key: '' for key in stops_15_30_min_peak_sdf.columns})

{'OBJECTID_am': '', 'stop_id': '', 'stop_code_am': '', 'stop_name_am': '', 'stop_desc_am': '', 'zone_id_am': '', 'stop_url_am': '', 'location_type_am': '', 'parent_station_am': '', 'NumTrips_am': '', 'NumTripsPerHr_am': '', 'MaxWaitTime_am': '', 'rte_count_am': '', 'AvgHeadway_am': '', 'MinHeadway_am': '', 'MaxHeadway_am': '', 'MetHdWyLim_am': '', 'SHAPE_am': '', 'OBJECTID_pm': '', 'stop_code_pm': '', 'stop_name_pm': '', 'stop_desc_pm': '', 'zone_id_pm': '', 'stop_url_pm': '', 'location_type_pm': '', 'parent_station_pm': '', 'NumTrips_pm': '', 'NumTripsPerHr_pm': '', 'MaxWaitTime_pm': '', 'rte_count_pm': '', 'AvgHeadway_pm': '', 'MinHeadway_pm': '', 'MaxHeadway_pm': '', 'MetHdWyLim_pm': '', 'SHAPE_pm': '', 'hdwy_30_min': '', 'hdwy_15_min': '', 'major_stop': '', 'hdwy_class': ''}

In [39]:
cols_rename = {'stop_name_am': 'stop_name',
               'stop_desc_am': 'stop_desc', 
               'zone_id_am': 'zone_id',
               'location_type_am': 'location_type',
               'SHAPE_am': 'SHAPE'
              }
stops_15_30_min_peak_sdf.rename(columns=cols_rename,inplace=True)

In [40]:
stops_15_30_min_peak_sdf.spatial.plot()

MapView(layout=Layout(height='400px', width='100%'))

### Create dataframes from gtfs txt files and merge to obtain route-level information
#### GTFS Simple Relational Diagram
![diagram](img\Relations-among-different-text-files-of-a-GTFS-feed.png)

In [41]:
agency = pd.read_csv(r'Data\Historic GTFS\2020-01\agency.txt')
agency.head(5)

  agency_id  ... agency_email
0        BA  ...          NaN
1        SF  ...          NaN
2        WC  ...          NaN
3        SM  ...          NaN
4        GG  ...          NaN

[5 rows x 8 columns]

In [42]:
routes = pd.read_csv(r'Data\Historic GTFS\2020-01\routes.txt')
routes.head(5)

    route_id agency_id  ... route_text_color route_sort_order
0  BA:Yellow        BA  ...           000000                0
1  BA:Orange        BA  ...           000000                0
2   BA:Green        BA  ...           ffffff                0
3     BA:Red        BA  ...           ffffff                0
4   BA:Beige        BA  ...           000000                0

[5 rows x 10 columns]

In [43]:
trips = pd.read_csv(r'Data\Historic GTFS\2020-01\trips.txt')
trips.head(5)

sys:1: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.

          route_id  ... bikes_allowed
0  BA:Blue-Wkd/Sat  ...             1
1      BA:Blue-Sun  ...             1
2         BA:Beige  ...             1
3        BA:Yellow  ...             1
4        BA:Orange  ...             1

[5 rows x 10 columns]

In [44]:
stop_times = pd.read_csv(r'Data\Historic GTFS\2020-01\stop_times.txt',dtype = {'stop_id': 'string', 'stop_headsign': 'string'})
stop_times.head(5)

                                             trip_id  ... timepoint
0  BA:5192053WKDY:94763974bd3c2be2ba908bb12fcc410...  ...         1
1  BA:5192053WKDY:94763974bd3c2be2ba908bb12fcc410...  ...         1
2  BA:5192053WKDY:94763974bd3c2be2ba908bb12fcc410...  ...         1
3  BA:5192053WKDY:94763974bd3c2be2ba908bb12fcc410...  ...         1
4  BA:5192053WKDY:94763974bd3c2be2ba908bb12fcc410...  ...         1

[5 rows x 10 columns]

In [45]:
stop_times[stop_times['stop_id'].isnull()]

Empty DataFrame
Columns: [trip_id, arrival_time, departure_time, stop_id, stop_sequence, stop_headsign, pickup_type, drop_off_type, shape_dist_traveled, timepoint]
Index: []

In [46]:
a_r = pd.merge(agency,routes,how='inner',on='agency_id')

In [47]:
a_r.head(5)

  agency_id             agency_name  ... route_text_color route_sort_order
0        BA  Bay Area Rapid Transit  ...           000000                0
1        BA  Bay Area Rapid Transit  ...           000000                0
2        BA  Bay Area Rapid Transit  ...           ffffff                0
3        BA  Bay Area Rapid Transit  ...           ffffff                0
4        BA  Bay Area Rapid Transit  ...           000000                0

[5 rows x 17 columns]

In [48]:
a_r.shape

(844, 17)

In [49]:
a_r['route_type'].unique()

array([2, 3, 0, 5, 4], dtype=int64)

In [50]:
a_r_t = pd.merge(a_r,trips,how='inner',on='route_id')

In [51]:
a_r_t.head(5)

  agency_id             agency_name  ... wheelchair_accessible bikes_allowed
0        BA  Bay Area Rapid Transit  ...                     1             1
1        BA  Bay Area Rapid Transit  ...                     1             1
2        BA  Bay Area Rapid Transit  ...                     1             1
3        BA  Bay Area Rapid Transit  ...                     1             1
4        BA  Bay Area Rapid Transit  ...                     1             1

[5 rows x 26 columns]

In [52]:
a_r_t.shape

(179993, 26)

In [53]:
a_r_t['route_type'].unique()

array([2, 3, 0, 5, 4], dtype=int64)

In [54]:
a_r_t_st = pd.merge(a_r_t,stop_times,how='inner',on='trip_id')

In [55]:
a_r_t_st.head(5)

  agency_id             agency_name  ... shape_dist_traveled timepoint
0        BA  Bay Area Rapid Transit  ...                 NaN         1
1        BA  Bay Area Rapid Transit  ...                 NaN         1
2        BA  Bay Area Rapid Transit  ...                 NaN         1
3        BA  Bay Area Rapid Transit  ...                 NaN         1
4        BA  Bay Area Rapid Transit  ...                 NaN         1

[5 rows x 35 columns]

In [56]:
a_r_t_st.shape

(6337007, 35)

In [57]:
a_r_t_st['route_type'].unique()

array([2, 3, 0, 5, 4], dtype=int64)

### Select subset of attributes needed for next steps

In [58]:
stop_attributes = a_r_t_st[['stop_id',
                            'agency_id',
                           'agency_name',
                           'route_type'
                           ]].copy()

In [59]:
stop_attributes.head(10)

  stop_id agency_id             agency_name  route_type
0    ANTC        BA  Bay Area Rapid Transit           2
1    PCTR        BA  Bay Area Rapid Transit           2
2    PITT        BA  Bay Area Rapid Transit           2
3    NCON        BA  Bay Area Rapid Transit           2
4    CONC        BA  Bay Area Rapid Transit           2
5    PHIL        BA  Bay Area Rapid Transit           2
6    WCRK        BA  Bay Area Rapid Transit           2
7    LAFY        BA  Bay Area Rapid Transit           2
8    ORIN        BA  Bay Area Rapid Transit           2
9    ROCK        BA  Bay Area Rapid Transit           2

In [60]:
stop_attributes[stop_attributes['stop_id'].isnull()]

Empty DataFrame
Columns: [stop_id, agency_id, agency_name, route_type]
Index: []

In [61]:
stop_attributes.shape

(6337007, 4)

### Remove duplicate rows

In [62]:
subset = ['stop_id',
          'agency_id',
          'agency_name',
          'route_type'
]
stop_attr_dedup = stop_attributes.drop_duplicates(subset=subset,keep='first').copy()

In [63]:
stop_attr_dedup.shape

(22315, 4)

In [64]:
stop_attr_dedup.head(10)

  stop_id agency_id             agency_name  route_type
0    ANTC        BA  Bay Area Rapid Transit           2
1    PCTR        BA  Bay Area Rapid Transit           2
2    PITT        BA  Bay Area Rapid Transit           2
3    NCON        BA  Bay Area Rapid Transit           2
4    CONC        BA  Bay Area Rapid Transit           2
5    PHIL        BA  Bay Area Rapid Transit           2
6    WCRK        BA  Bay Area Rapid Transit           2
7    LAFY        BA  Bay Area Rapid Transit           2
8    ORIN        BA  Bay Area Rapid Transit           2
9    ROCK        BA  Bay Area Rapid Transit           2

In [65]:
stop_attr_dedup['route_type'].unique()

array([2, 3, 0, 5, 4], dtype=int64)

### Create route type field with human readable name

In [66]:
route_type_dict = {0:'Tram, Streetcar, Light Rail',
                  1: 'Subway, Metro',
                  2: 'Rail',
                  3: 'Bus',
                  4: 'Ferry',
                  5: 'Cable Tram',
                  6: 'Aerial Lift',
                  7: 'Funicular',
                  11: 'Trollybus',
                  12: 'Monorail'
                  }
stop_attr_dedup['route_type_text'] = stop_attr_dedup['route_type'].map(route_type_dict)

In [67]:
stop_attr_dedup.head(10)

  stop_id agency_id             agency_name  route_type route_type_text
0    ANTC        BA  Bay Area Rapid Transit           2            Rail
1    PCTR        BA  Bay Area Rapid Transit           2            Rail
2    PITT        BA  Bay Area Rapid Transit           2            Rail
3    NCON        BA  Bay Area Rapid Transit           2            Rail
4    CONC        BA  Bay Area Rapid Transit           2            Rail
5    PHIL        BA  Bay Area Rapid Transit           2            Rail
6    WCRK        BA  Bay Area Rapid Transit           2            Rail
7    LAFY        BA  Bay Area Rapid Transit           2            Rail
8    ORIN        BA  Bay Area Rapid Transit           2            Rail
9    ROCK        BA  Bay Area Rapid Transit           2            Rail

In [68]:
stop_attr_dedup['agency_id'].unique()

array(['BA', 'SF', 'WC', 'SM', 'GG', 'AC', 'DE', 'SC', 'CT', 'SA', 'FS',
       'SO', 'UC', 'SR', '3D', 'ST', 'CC', 'MA', 'EM', 'PE', 'WH', 'VN',
       'AM', 'CE', 'CM', 'GF', 'RV', 'SB', 'SI', 'SS', 'TD', 'VC', 'MS'],
      dtype=object)

### Create new stop_id field for stops dataset before join

In [69]:
stops_15_30_min_peak_sdf.columns

Index(['OBJECTID_am', 'stop_id', 'stop_code_am', 'stop_name', 'stop_desc',
       'zone_id', 'stop_url_am', 'location_type', 'parent_station_am',
       'NumTrips_am', 'NumTripsPerHr_am', 'MaxWaitTime_am', 'rte_count_am',
       'AvgHeadway_am', 'MinHeadway_am', 'MaxHeadway_am', 'MetHdWyLim_am',
       'SHAPE', 'OBJECTID_pm', 'stop_code_pm', 'stop_name_pm', 'stop_desc_pm',
       'zone_id_pm', 'stop_url_pm', 'location_type_pm', 'parent_station_pm',
       'NumTrips_pm', 'NumTripsPerHr_pm', 'MaxWaitTime_pm', 'rte_count_pm',
       'AvgHeadway_pm', 'MinHeadway_pm', 'MaxHeadway_pm', 'MetHdWyLim_pm',
       'SHAPE_pm', 'hdwy_30_min', 'hdwy_15_min', 'major_stop', 'hdwy_class'],
      dtype='object')

In [70]:
stops_15_30_min_peak_sdf['new_stop_id'] = stops_15_30_min_peak_sdf['stop_id'].str.extract(r'202001:(.*)')

In [71]:
stops_15_30_min_peak_sdf[['stop_id','stop_code_am','new_stop_id']].tail(10)

               stop_id stop_code_am new_stop_id
22115  202001:FS:75080        75080    FS:75080
22116  202001:FS:75336        75336    FS:75336
22117  202001:FS:75335        75335    FS:75335
22118  202001:FS:75503        75503    FS:75503
22119  202001:FS:75267        75267    FS:75267
22120  202001:FS:75319        75319    FS:75319
22121  202001:FS:75083        75083    FS:75083
22122  202001:FS:75266        75266    FS:75266
22123  202001:FS:75502        75502    FS:75502
22124  202001:FS:75076        75076    FS:75076

### Join stop/route attributes to stops dataset containing headway infomation

In [72]:
stops_and_attributes = pd.merge(stops_15_30_min_peak_sdf,
                                stop_attr_dedup,how='left',
                                left_on='new_stop_id',
                                right_on='stop_id',
                                indicator=True)

In [73]:
stops_and_attributes.shape

(22451, 46)

### Inspect df

In [74]:
stops_and_attributes['_merge'].unique

<bound method Series.unique of 0        left_only
1        left_only
2        left_only
3        left_only
4        left_only
           ...
22446         both
22447         both
22448         both
22449         both
22450         both
Name: _merge, Length: 22451, dtype: category
Categories (3, object): [left_only, right_only, both]>

In [75]:
stops_and_attributes[stops_and_attributes['_merge'] == 'left_only']

       OBJECTID_am               stop_id_x  ... route_type_text     _merge
0                1   202001:_salesforce_tc  ...             NaN  left_only
1                2  202001:_san_bruno_bart  ...             NaN  left_only
2                3      202001:_vallejo_tc  ...             NaN  left_only
3                4       202001:_19th_bart  ...             NaN  left_only
4                5      202001:_ashby_bart  ...             NaN  left_only
...            ...                     ...  ...             ...        ...
14597        14277            202001:64949  ...             NaN  left_only
14869        14549            202001:61588  ...             NaN  left_only
15622        15302            202001:75551  ...             NaN  left_only
18321        18000           202001:829022  ...             NaN  left_only
22293        21968         202001:FS:75551  ...             NaN  left_only

[136 rows x 46 columns]

In [76]:
stops_and_attributes['agency_name'][stops_and_attributes['route_type_text'] == 'Rail'].count()

162

In [77]:
stops_and_attributes['route_type'].unique()

array([nan,  2.,  3.,  0.,  5.,  4.])

### Select subset of stops and attributes dataframe for next steps

In [90]:
stops_and_attributes.columns

Index(['OBJECTID_am', 'stop_id_x', 'stop_code_am', 'stop_name', 'stop_desc',
       'zone_id', 'stop_url_am', 'location_type', 'parent_station_am',
       'NumTrips_am', 'NumTripsPerHr_am', 'MaxWaitTime_am', 'rte_count_am',
       'AvgHeadway_am', 'MinHeadway_am', 'MaxHeadway_am', 'MetHdWyLim_am',
       'SHAPE', 'OBJECTID_pm', 'stop_code_pm', 'stop_name_pm', 'stop_desc_pm',
       'zone_id_pm', 'stop_url_pm', 'location_type_pm', 'parent_station_pm',
       'NumTrips_pm', 'NumTripsPerHr_pm', 'MaxWaitTime_pm', 'rte_count_pm',
       'AvgHeadway_pm', 'MinHeadway_pm', 'MaxHeadway_pm', 'MetHdWyLim_pm',
       'SHAPE_pm', 'hdwy_30_min', 'hdwy_15_min', 'major_stop', 'hdwy_class',
       'new_stop_id', 'stop_id_y', 'agency_id', 'agency_name', 'route_type',
       'route_type_text', '_merge'],
      dtype='object')

In [91]:
stops_and_attributes.shape

(22451, 46)

In [92]:
subset_2 = ['new_stop_id', 
           'stop_code_am', 
           'stop_name', 
           'stop_desc',
           'location_type',
           'hdwy_30_min', 
           'hdwy_15_min', 
           'major_stop', 
           'hdwy_class',
           'agency_id', 
           'agency_name',  
           'route_type',
           'route_type_text',
           'SHAPE']
stops_and_attributes_sub = stops_and_attributes[subset_2].copy()

### Rename columns

In [93]:
cols_rename_dict = {'new_stop_id':'stop_id',
                   'stop_code_am':'stop_code',
                   'location_type':'loc_type',
                   'AvgHeadway_am':'avghdwy_am',
                   'AvgHeadway_pm':'avghdwy_pm',
                   'hdwy_30_min':'hdwy_30min',
                   'hdwy_15_min':'hdwy_15min',
                   'agency_name':'agency_nm',
                   'trip_headsign':'trip_heads',
                   'route_type_text':'route_ty_t',
                   }
stops_and_attributes_sub.rename(columns=cols_rename_dict,inplace=True)

### Update major stop flag column to include rail and ferry stops

In [94]:
stops_and_attributes_sub['route_ty_t'].unique()

array([nan, 'Rail', 'Bus', 'Tram, Streetcar, Light Rail', 'Cable Tram',
       'Ferry'], dtype=object)

In [95]:
stops_and_attributes_sub['major_stop'] = np.where((stops_and_attributes_sub['route_ty_t'] == 'Rail') | 
                                                    (stops_and_attributes_sub['route_ty_t'] == 'Tram, Streetcar, Light Rail') |
                                                    (stops_and_attributes_sub['route_ty_t'] == 'Ferry'), 1,
                                                   stops_and_attributes_sub['major_stop'])

In [96]:
stops_and_attributes_sub[stops_and_attributes_dedup['major_stop'] == 1]

       stop_id  ...                                              SHAPE
114       12TH  ...  {'x': -122.27144999999996, 'y': 37.80377000000...
115       16TH  ...  {'x': -122.41968999999995, 'y': 37.76506000000...
116       19TH  ...  {'x': -122.26859999999999, 'y': 37.80835000000...
117       24TH  ...  {'x': -122.41814, 'y': 37.75247000000007, 'spa...
118       ANTC  ...  {'x': -121.78041999999999, 'y': 37.99539000000...
...        ...  ...                                                ...
22208  SA:7110  ...  {'x': -122.70119999999997, 'y': 38.34748000000...
22209  SA:7102  ...  {'x': -122.52279999999996, 'y': 37.97190000000...
22210  SA:7111  ...  {'x': -122.72169999999994, 'y': 38.43752000000...
22211  SA:7112  ...  {'x': -122.73669999999998, 'y': 38.45560000000...
22212  SA:7113  ...  {'x': -122.78389999999996, 'y': 38.50956000000...

[1924 rows x 14 columns]

In [97]:
stops_and_attributes_sub.shape

(22451, 14)

### Delete stops with location type 1 or Stations. These do not have headway information and are not useful for analysis of access to transit

In [101]:
stops_and_attributes_sub.drop(stops_and_attributes_sub[stops_and_attributes_sub['loc_type'] == '1'].index, inplace=True)

In [103]:
stops_and_attributes_sub.shape

(22337, 14)

### Remove all stops at the San Francisco International Airport

In [114]:
air_stops_index = stops_and_attributes_sub[stops_and_attributes_sub['agency_nm'] == 'San Francisco International Airport'].index

In [116]:
stops_and_attributes_sub.drop(air_stops_index, inplace=True)

### Write spatial dataframe to geodatabase

In [390]:
bay_transit_stops = r'Z:\Documents\Section\Planning\Transit_Data_Analysis\Transit_Data_Analysis.gdb\bay_area_transit_stops_01_2020'
stops_and_attributes_sub.spatial.to_featureclass(location=bay_transit_stops)

'\\\\Mac\\Home\\Documents\\Section\\Planning\\Transit_Data_Analysis\\Transit_Data_Analysis.gdb\\bay_area_transit_stops_01_2020'