In [9]:
import os
import json
import zipfile
import geopandas as gp
import pandas as pd

In [10]:
#set working directory
work_dir = os.path.join('/Users',
                       'jcroff',
                       'Box',
                       'MTC Data for Toole Design')

In [15]:
#list files in dir
os.listdir(work_dir)

['BATC',
 'County, City and Caltrans Bike Ped Network and Counts Data',
 'data_for_Toole.gdb',
 'GIS Data Request.xlsx',
 'MTC Mobility Hubs top25_final_20210308.html',
 'MTC_mobility_hubs_R_final.zip',
 'PBA50_FinalBlueprintLandUse_TAZdata_dataDictionary.xlsx',
 'travelModel2_v11_link.json',
 'travelModel2_v11_link_json.zip']

In [14]:
#read zipped json file
tm2_links = pd.read_json(os.path.join(work_dir,
                                  'travelModel2_v11_link_json.zip'))

In [17]:
tm2_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199321 entries, 0 to 2199320
Data columns (total 44 columns):
 #   Column              Dtype
---  ------              -----
 0   access              object
 1   bike_access         int64
 2   drive_access        int64
 3   fromIntersectionId  object
 4   lanes               object
 5   maxspeed            object
 6   name                object
 7   oneWay              object
 8   ref                 object
 9   roadway             object
 10  shstGeometryId      object
 11  shstReferenceId     object
 12  toIntersectionId    object
 13  u                   object
 14  v                   object
 15  walk_access         int64
 16  wayId               object
 17  county              object
 18  model_link_id       int64
 19  A                   int64
 20  B                   int64
 21  rail_traveltime     object
 22  rail_only           int64
 23  locationReferences  object
 24  shape_id            object
 25  ft_cal              object
 26  ft                  int64
 27  useclass            object
 28  assignable_cal      object
 29  assignable          int64
 30  transit             object
 31  id                  object
 32  tollbooth           int64
 33  bus_only            int64
 34  transit_access      object
 35  managed             int64
 36  ML_lanes            object
 37  segment_id          int64
 38  ML_tollbooth        object
 39  ML_useclass         object
 40  ML_access           object
 41  ML_egress           object
 42  ML_tollseg          object
 43  tollseg             int64
dtypes: int64(14), object(30)
memory usage: 738.3+ MB

In [19]:
tm2_links[['locationReferences','shape_id']].head(5)

                                  locationReferences shape_id
0  [{'sequence': 1, 'point': [-122.3315542, 37.98...   512475
1  [{'sequence': 1, 'point': [-121.94477, 37.9533...    38201
2  [{'sequence': 1, 'point': [-122.5398278, 37.89...   347066
3  [{'sequence': 1, 'point': [-122.031897, 37.267...   856377
4  [{'sequence': 1, 'point': [-122.0118628, 37.37...   814428

In [21]:
#export to csv
tm2_links.to_csv(os.path.join(work_dir,
                              'travelModel2_v11_link_csv.csv'))